<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
        <head>
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
                <link href="__STATIC__/css/common.css" rel="stylesheet" type="text/css" />
                <link href="__STATIC__/css/styleadd.css" rel="stylesheet" type="text/css" />

                <!-- 不能删除 -->
                 <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                <script src="__JS__/layer/layer.js"></script>

                <!-- 调用模板样式-->
                <title>添加店铺</title>
        </head>
<body>
{include file="layout/head_bar"}
